.sebar-box {
  position: fixed;
  bottom: 0;
  background-color: #f59e0b3b;
  display: flex;
  width: 100%;
  justify-content: center;
}
.sebar-box button {
  width: 38px;
  height: 38px;
}
.sebar-box .sebar-d1 {
  height: 38px;
  line-height: 38px;
  background-color: #ffffff;
  padding-right: 1rem;
  padding-left: 1rem;
}
.nowShowDom {
  background-color: red !important;
}
