.user-bar-box{
  background-color: red;
  position: absolute;
  top: 10px;
  right: 10px;
  max-width: 90%;
  border-radius: 20px;
  overflow: hidden;
  .user-btn{
    background-color: blue;
    display: flex;
    flex-direction: row-reverse;
    cursor: pointer;
    img{

      border-radius: 20px;
    }
  }
  .user-box{
    display: flex;
    flex-wrap: wrap;
    background-color: green;
    width: 400px;
    max-width: 100%;
    .func-panel{
      background-color: yellow;
      margin: 10px;
      a{
        margin-bottom: 5px;
        margin-right: 5px;
      }
    }
  }
  .user-box-hidden{
    width: 0px;
    height: 0px;
  }
}